/*Page d'accueil*/
html,
* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100px;
    background-color: grey;
    justify-content: space-around;
}
.barre_back{
    height: 100px;
    z-index: -2;
}
.header_bt{
    line-height: 100px;
    text-decoration: none;
    color: black;
}

.hvr_boutton:hover{
    color: white;
}
.h_banner{
    height: 500px;
    background-color: green;
}
.h_conteneur_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.h_block{
    width: 20%;
    min-width: 370px;
    height: 384px;
    display: flex;
    flex-direction: column;
}
.h_block1{
    width: 20%;
    min-width: 370px;
    height: 384px;
    display: flex;
    flex-direction: column;
}
.h_about{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}   
.h_conteneur_about{
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}
.h_titre{
    font-size: 40px;
    padding-bottom: 15px;
}
.h_trait{
    width: 200px;
    height: 50px;
    border-top: solid 2px black;

}
.h_desc{
    text-align: center;
    width: 40%;
}
.h_barre_triangle{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.triangle{
    width: 0;
height: 0;
border-style: solid;
border-width: 60px 85px 0 85px;
border-color: #ffffff transparent transparent transparent;
}
.h_how{
    background-color: grey;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}   
.h_conteneur_how{
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}
.h_bloc{
    width: 100%;
    height: 300px;
}
footer {
    width: 100%;
    height: auto;
    background-color: #333333;
    color: white;
}


/*Bande noir en haut du footer*/

.bande {
    width: 100%;
    height: 5vh;
}


/* Paramètre de 6 mot en colones dans le footer*/

.text {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


/* Paramètre des 3 mot de droite*/

.textd {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2%;
    border-left: 2px solid white;
    width: 50%;
}


/* Paramètre des 3 mot de gauche*/

.textg {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 2%;
    border-right: 2px solid white;
    width: 50%;
}


/* couleur des 6 mots*/

.text a {
    color: white;
    margin-bottom: 10px;
}


/* mettre une margin en deux mot du haut sur les 6*/

.text a:first-child {
    margin-top: 10px;
}


/* Paramètre de la barre blanche verticale*/

.barreb {
    width: 40%;
    height: 3vh;
    margin-left: 30%;
    border-bottom: 4px solid white;
    border-radius: 5px;
}


/* Paramètre du bas du footer*/

.bas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


/* Paramètre du texte en bas à droite */

.textbd {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 2%;
    width: 50%
}


/* Couleur du texte*/




/*Taille des images*/

a img {
    width: 32px;
    height: 32px;
}


/* Espace entre les mots*/

.bas a {
    padding-right: 5px;
    padding-left: 5px;
}
